<ion-app>
  <ion-menu contentId="main-content" side="start" type="push">
    <ion-header>
      <ion-toolbar>
        <ion-title>Side Bar Nav</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button [routerLink]="['media']">
            NewsFeed
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button [routerLink]="['Calender']">
            Calendar
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button [routerLink]="['forums']">
            Forum
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button [routerLink]="['messages']">
            Chat
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button [routerLink]="['profile']">
            Profile
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content" main></ion-router-outlet>

</ion-app>
