<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feed</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="http://localhost:5000/Upload/ManualSave_7f757_7e612400_69edc4.png">
  </ion-item>
  <!--<ion-item>
    <ion-button (click)="searchData()">Get Standard Data</ion-button>
  </ion-item>-->
  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/','movies',item.mediaId]">
      <ion-label text-wrap>
        <img src="http://localhost:5000/Movie/{{item.imageName}}">
        <h3>{{item.title}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
