<ion-header>
  <ion-toolbar color="primary">
    <div>
      <ion-title>Newsfeed</ion-title>
    </div>
    <div>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </div>
    <div>
      <ion-searchbar showCancelButton="focus" placeholder="FilterSearch" animated></ion-searchbar>
      <ion-item>
        <ion-label>Media Type</ion-label>
        <ion-select multiple="true" cancelText="Nah" okText="Okay!">
          <ion-select-option value="Game">Game</ion-select-option>
          <ion-select-option value="Book">Book</ion-select-option>
          <ion-select-option value="Movie">Movie</ion-select-option>
          <ion-select-option value="Show">Show</ion-select-option>
          <ion-select-option value="Series">Series</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card button *ngFor="let item of (results | async); let i = index" (click)="moreDetails(item)">
          {{item.title}}
          <br>
          {{item.releaseDate}}
          <br>
          {{item.mediaType}}
          <br>
          {{item.description}}
          <ion-img src="{{item.imageName}}"></ion-img>
    </ion-card>
  </ion-list>
</ion-content>
